<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../static/css/bootstrap.css"/>
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <label class="col-3" for="eventName">Event name:</label>
                    <input class="col-9" type="text" id="eventName" placeholder="Event name">
                </div>

                <div class="form-group row">
                    <label class="col-3" for="eventPrice">Price:</label>
                    <input class="col-9" type="text" id="eventPrice" placeholder="Price">
                </div>

                <div class="form-group row">
                    <label class="col-3" for="eventLocation">Location:</label>
                    <input class="col-9" type="text" id="eventLocation" placeholder="Location">
                </div>

                <div class="form-group row">
                    <label class="col-3">Date from/until:</label>
                    <div class="col-9">
                        <div class="row">
                            <input class="col-6" type="datetime-local" id="dateFrom">
                            <input class="col-6" type="datetime-local" id="dateUntil">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>