<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{~/css/bootstrap.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body >
<div class="container">
    <div class="row">
        <div class="col-12">
            <!--/*@thymesVar id="event" type="com.eventmaster.frontend.model.Event"*/-->
            <form th:object="${event}" th:fragment="eventForm">
                <div class="form-group row">
                    <label class="col-3" for="eventName" >Event name:</label>
                    <input th:field="${event.name}" class="col-9" type="text" id="eventName" placeholder="Event name">
                </div>

                <div class="form-group row">
                    <label class="col-3" for="eventPrice">Price:</label>
                    <input th:field="${event.price}" class="col-9" type="text" id="eventPrice" placeholder="Price">
                </div>

                <div class="form-group row">
                    <label class="col-3" for="eventLocation">Location:</label>
                    <input th:field="${event.location}" class="col-9" type="text" id="eventLocation" placeholder="Location">
                </div>

                <div class="form-group row">
                    <label class="col-3">Date from/until:</label>
                    <div class="col-9">
                        <div class="row">
                            <input th:field="${event.dateFrom}" class="col-6" type="datetime-local" id="dateFrom">
                            <input th:field="${event.dateUntil}"  class="col-6" type="datetime-local" id="dateUntil">
                        </div>
                    </div>
                </div>

                <div class="form-inline">
                    <button type="submit" value="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>